@use '../assets/mixins';
@use '../assets/colors';
@use '../assets/fonts';


main{
    @include mixins.font;
    background-color: transparent;
    color: colors.$color-text;
    z-index: 1 !important;
    overflow: hidden;
    height: 90vh;
    width: 100%;
    max-width: 100vw;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    width: 100%;
    max-width: 100vh !important;
    height: 20%;
    font-size: 100px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-title h1:last-child{
    margin-left: 20%;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    gap: 100px;
}

.main-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img img{
    height: 420px;
}

.main-txt{
    text-align: justify;
    font-size: 30px;
}

@media screen and (max-width: 900px){
    

    main{
        height: 120vh;
    }

    .main-title{
        align-items: center;
    }

    .main-title h1:last-child{
        margin-left: 50px;
    }

    .main-content{
        flex-direction: column;
    }



}
@media screen and (max-width: 480px){
    
    
    .main-title{
        font-size: 70px;
    }
    .main-title h1:last-child{
        margin-left: 20px;
    }
    
    .main-content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 80%;
        gap: 100px;
    }
    
    .main-img{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-img img{
        height: 350px;
    }
    
    .main-txt{
        text-align: justify;
        font-size: 30px;
    }


}
@media screen and (max-width: 480px){
    
    
    .main-title{
        font-size: 70px;
    }
    .main-title h1:last-child{
        margin-left: 20px;
    }
    
    .main-content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 80%;
        gap: 100px;
    }
    
    .main-img{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-img img{
        height: 300px;
    }
    
    .main-txt{
        text-align: justify;
        font-size: 30px;
    }


}